<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367531707637-uc98k4u6lo7anvbbkalkknf41toijkb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367531707637-uc98k4u6lo7anvbbkalkknf41toijkb5</string>
	<key>API_KEY</key>
	<string>AIzaSyANzLY3teoVaLKKMC4g2QeynHCxP9AOg6U</string>
	<key>GCM_SENDER_ID</key>
	<string>367531707637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HomeCodeWithJake.TaskAttack</string>
	<key>PROJECT_ID</key>
	<string>taskattack-20720</string>
	<key>STORAGE_BUCKET</key>
	<string>taskattack-20720.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367531707637:ios:5663a316dcbc652700c9bc</string>
</dict>
</plist>